@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 3px;
}

.container > div {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

.topo {
    grid-area: 1/1/2/3;
    background-color: lightblue;
}

.menu {
    grid-area: 2/1/3/3;
    background-color: lightcoral;
}

.principal {
    grid-area: 3/1/4/2;
    background-color: lightslategray;
}

.secundario {
    grid-area: 3/2/4/3;
    background-color: lightpink;
}

.rodape {
    grid-area: 4/1/5/3;
    background-color: lightgreen;
}