@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}

.container {
    display: grid;
    height: 400px;
    grid-template-rows: 2fr 1fr 6fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.container > div {
    border: 2px dashed red;
    text-align: center;
}

.topo {
    grid-area: 1/1/2/4;
    background-color: lightblue;
}

.menu {
    grid-area: 2/1/3/4;
    background-color: lightcoral;
}

.principal {
    grid-area: 3/1/4/3;
    background-color: lightslategray;
}

.secundario {
    grid-area: 3/3/4/4;
    background-color: lightpink;
}

.rodape {
    grid-area: 4/1/5/4;
    background-color: lightgreen;
}