@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FEE3A2, #FEEADC);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #32557954;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #032029;
    text-align: center;
    text-shadow: 1px 1px 2px #0c345c56;
}

h2 {
    color: #4B74F5;
}

p { 
    text-align: justify;
} 