@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-especial: "Passion One", sans-serif;
    --fonte-normal: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

#flor {
    background: black url(../imagens/background001.jpg) right center / cover no-repeat fixed;

}

.com-fundo{
    display: inline-block;
    color: white;
    background-color: blue;
}

header {
    background-color: black;
}

header h1 {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: var(--fonte-especial);
    font-size: 8em;
}

header p {
    color: white;   
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--fonte-normal);
    font-size: 3em;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2em;
}