@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: lightcoral;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}

.caixa2 {
    background-color: lightgreen;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: lightblue;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
}