@charset "UTF-8";

body {
    background-color: rgb(201, 255, 237);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1#principal {
    text-align: center;
    color: white;
    background-color: darkslateblue;
}

.basico {
    color: green;
    font-style: italic;
}

.intermediario {
    color: darkgoldenrod;
}

.avancado {
    color: maroon;
}

.destaque {
    background-color: rgb(255, 187, 201);
}