@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: rgb(238, 238, 238);
}

.container {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.item {
    flex: auto;
}

.opcao {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    margin:5px;
    padding: 7px;
    background-color: black;
    border-radius: 5px;
}

#titulo {
    flex-basis: 200px;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}

section {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

@media screen and (max-width:434px) {
    .container {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
    }

    #titulo {
        flex-basis: auto;
    }

    .item {
        flex: auto;
        width: 90vw;
        text-align: center;
    }
}
