@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
        height: 100vh;
        background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
        background-size: cover;
        background-repeat: no-repeat;
}

#container {
    position: relative;
    height: 500px;
    width: 250px;
    padding-top: 4%;
    display: block;
    margin: auto;
}


#conteudo {
    position: absolute;
    transform: translate();
    left: 42%;
    top: 20%;
    height: 370px;
    width: 212px;
    display: block;
}