@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


main {
    background-color: lightgray;
}

div#reverse {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
}   

h2 {
    font-size: 1.2em;
    padding: 10px;
}
div#paragrafo {
    display: flex;
    font-size: 0.8em;
    padding: 10px;
}

.texto {
    flex: 3 1 auto;
}



main > div  img {
    width: 300px;
    height: 200px;
    padding: 10px;
}